body {
	background: black;
}

header{
	 line-height: 3rem;
}

.menu {
    display: flex;
    gap: 4rem;
    color: lightblue;
    font-size: 1rem;
    border-bottom: 2px solid; /* Ajoute un trait blanc */
    position: sticky; /* Le menu reste collé en haut lors du scroll */
    top: 0; /* Assure que le menu est bien en haut */
    z-index: 1000; /* Priorité sur les autres éléments */
}
    
.Présentation {
	color: lightblue;
	padding: 3em;
}

a:visited {
    color: lightblue;
}

