body {
    background: black;
    font-family: times new roman, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: lightblue;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 0;
    line-height: 0.8;
    height: 100%;
}

a:visited {
    color: lightblue;
}

header{
     line-height: 3rem;
}

.menu {
    display: flex;
    gap: 4rem;
    color: lightblue;
    font-size: 1rem;
     border-bottom: 2px solid white; /* Ajoute un trait blanc */
    position: sticky; /* Le menu reste collé en haut lors du scroll */
     top: 0; /* Assure que le menu est bien en haut */
    z-index: 1000; /* Priorité sur les autres éléments */
}

.projet1 {
    text-align: center;
    font-size: 2.1rem;
    margin: 3rem;
}

.container {
    display: flex;
    flex-direction: column; /* Place l'image en haut et le texte en dessous */
    align-items: center; /* Centre les éléments horizontalement */
    text-align: center; /* Centre le texte sous l'image */
}

img {
    margin-top: 10rem;
}

p {
    margin-top: 55px; /* Ajuste la valeur pour augmenter l'espace */
    font-size: 2rem;
}
